<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Slaughter Development</title>
</head>
<body>
    <div class="container">
        <div class="split left">
            <h1>Web Developer</h1>
            <a href="/developer" class="button">Learn More</a>
        </div>
        <div class="split right">
            <h1>Packaging Engineer</h1>
            <a href="/package" class="button">Learn More</a>
        </div>
    </div>
    <script src="/assets/js/main2.js"></script>
</body>
</html>